<div class="container container-single-left">
  <form (ngSubmit)="onSecretQuestionInfoSave()" #displaySecretQuestionsFormForm="ngForm">
    <div class="row">
      <fieldset class="edit-mode">
        <legend>Secret Questions</legend>
        <div class="container" *ngIf="errorMessage" class="error-message">
          <span>{{errorMessage}}:</span>
          <ul *ngIf="errors">
            <li *ngFor="let e of errors">{{e.message}}</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-4 input-label">
            Question 1 *
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <select class="form-control" required [ngModel]="userSecretQuestionInfo.secretQuestion1Id" (ngModelChange)="onSecretQuestionChange('secretQuestion1Id', $event)"
                name="secretQuestion1Id" #secretQuestion1Id="ngModel">
                <option *ngFor="let q of questionList1" [value]="q.id">{{q.name}}</option>
              </select>
              <div [hidden]="secretQuestion1Id.valid || secretQuestion1Id.pristine" class="alert alert-danger">
                Question 1 is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label">
            Answer 1 *
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <input type="text" class="form-control" required [(ngModel)]="userSecretQuestionInfo.answer1" name="answer1" #answer1="ngModel" placeholder="Answer to selected secret question 1">
              <div [hidden]="answer1.valid || answer1.pristine" class="alert alert-danger">
                Answer 1 is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label">
            Question 2 *
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <select class="form-control" required [ngModel]="userSecretQuestionInfo.secretQuestion2Id" (ngModelChange)="onSecretQuestionChange('secretQuestion2Id', $event)"
                name="secretQuestion2Id" #secretQuestion2Id="ngModel">
                <option *ngFor="let q of questionList2" [value]="q.id">{{q.name}}</option>
              </select>
              <div [hidden]="secretQuestion2Id.valid || secretQuestion2Id.pristine" class="alert alert-danger">
                Question 2 is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label">
            Answer 2 *
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <input type="text" class="form-control" required [(ngModel)]="userSecretQuestionInfo.answer2" name="answer2" #answer2="ngModel" placeholder="Answer to selected secret question 2">
              <div [hidden]="answer2.valid || answer2.pristine" class="alert alert-danger">
                Answer 2 is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label">
            Question 3 *
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <select class="form-control" required [ngModel]="userSecretQuestionInfo.secretQuestion3Id" (ngModelChange)="onSecretQuestionChange('secretQuestion3Id', $event)"
                name="secretQuestion3Id" #secretQuestion3Id="ngModel">
                <option *ngFor="let q of questionList3" [value]="q.id">{{q.name}}</option>
              </select>
              <div [hidden]="secretQuestion3Id.valid || secretQuestion3Id.pristine" class="alert alert-danger">
                Question 3 is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label">
            Answer 3 *
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" required [(ngModel)]="userSecretQuestionInfo.answer3" name="answer3" #answer3="ngModel" placeholder="Answer to selected secret question 3">
              <div [hidden]="answer3.valid || answer3.pristine" class="alert alert-danger">
                Answer 3 is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6 float-right">
            <button type="submit" class="btn btn-md btn-success btn-secondary btn-block" [disabled]="!displaySecretQuestionsFormForm?.valid || displaySecretQuestionsFormForm?.pending || isProcessing"
              (handleProcessing)="onHandleProcessing($event)">
          <span [hidden]="isProcessing">
            <i class="fa fa-lg fa-save"></i> Save
          </span>
          <span [hidden]="!isProcessing">
            <i class="fa fa-spinner fa-spin"></i> Please wait...
          </span>          
        </button>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 float-right">
            <button type="button" class="btn btn-md btn-warning btn-secondary btn-block" (click)="onSecretQuestionEditCancel()">Cancel</button>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>