<div class="container container-single-left">
  <form (ngSubmit)="onSecretQuestionEditSubmit()" #displaySecretQuestionsForm="ngForm">
    <div class="row">
      <fieldset>
        <legend>Secret Questions</legend>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Question 1 :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{getSecretQuestionName(userDetails.secretQuestion1Id)}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Answer 1 :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.answer1}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Question 2 :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{getSecretQuestionName(userDetails.secretQuestion2Id)}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Answe 2 :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.answer2}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Question 2 :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{getSecretQuestionName(userDetails.secretQuestion3Id)}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Answe 3 :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.answer3}}
            </div>
          </div>
        </div>
        <div *ngIf="hasEditPermission" class="row">
          <div class="col-md-4 col-sm-6 col-xs-6 float-right">
            <button type="submit" class="btn btn-md btn-success btn-secondary btn-block">Edit</button>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>