<div class="container container-single-left">
  <form (ngSubmit)="onContactEditSubmit()" #displayUserContactInfoForm="ngForm">
    <div class="row">
      <fieldset>
        <legend>Contact Details</legend>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Salutation :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.salutationCode}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Given Name :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.firstName}}
              <!--<input type="text" class="form-control" required [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" placeholder="Given Name" (blur)="onInputBlur($event.target.value)">-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Middle Name :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.middleName}}
              <!--<input type="text" class="form-control" [(ngModel)]="user.middleName" name="middleName" #middleName="ngModel" placeholder="Middle Name">-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Last Name :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.lastName}}
              <!--<input type="text" class="form-control" required [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" placeholder="Last Name" (blur)="onInputBlur($event.target.value)">-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Prefered Name :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.displayName}}
              <!--<input type="text" class="form-control" required [(ngModel)]="user.displayName" name="displayName" #displayName="ngModel"
                placeholder="Prefered Name">-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            DOB :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.dateOfBirth | date: 'dd/MM/yyyy'}}
              <!--<input type="date" class="form-control input-small" required [(ngModel)]="user.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" (blur)="onInputBlur($event.target.value)">-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 input-label-display">
            Mobile :
          </div>
          <div class="col-md-8">
            <div class="form-group">
              {{userDetails.mobile}}
              <!--<input type="text" class="form-control" required [(ngModel)]="user.mobile" name="mobile" #mobile="ngModel" placeholder="Mobile">-->
            </div>
          </div>
        </div>
        <div *ngIf="hasEditPermission" class="row">
          <div class="col-md-4 col-sm-6 col-xs-6 float-right">
            <button type="submit" class="btn btn-md btn-success btn-secondary btn-block">Edit</button>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>